@tailwind base;
@tailwind components;
@tailwind utilities;
.swal2-popup.swal2-toast.swal2-show.swal2-popup.swal2-toast{
  height: 70px;
}

@layer base {
  body{
    @apply font-dana-regular
  }
  @font-face {
    font-family: 'dana-regular';
    src: url('../public/fonts/dana/Dana-FaNum-Regular.ttf');
  }
  @font-face {
    font-family: 'dana-bold';
    src: url('../public/fonts/dana/Dana-FaNum-Bold.ttf');
  }
  @font-face {
    font-family: 'dana-light';
    src: url('../public/fonts/dana/Dana-FaNum-Light.ttf');
  }
}
